body{
    background-color: #EBF1FF;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body h1{
    font-size: 75px;
    text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.25);
    color: #030E25;
    font-family: "Poppins",Helvetica,sans-serif;    
}

.container{
    display: flex;
    gap: 5vw;
    justify-content: start;
    text-align: right;
}

.main{
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    height: 60vh;
    width: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.controls{
    background-color: white;
    width: 10vw;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.controls h2{
    color: #030E25;
    font-family: "Poppins",Helvetica,sans-serif;    
}

#colorPicker{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100px;
    height: 100px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    user-select: none;
}
#colorPicker::-webkit-color-swatch {
    border-radius: 15px;
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    user-select: none;
}
#colorPicker::-moz-color-swatch {
    border-radius: 15px;
    border: none;
    user-select: none;
}

.controls .grid-size{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vh;
    align-items: center;
    color: #030E25;
    font-family: "Poppins",Helvetica,sans-serif;  
}

#grid-range{
    -webkit-appearance: none;
    background: #030E25;
    outline: none;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
#grid-range::-webkit-slider-thumb{
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -4px; /* Centers thumb on the track */
    background-color: #808080;
    border-radius: 0rem;
    height: 1rem;
    width: 0.5rem;
}

#grid-range::-webkit-slider-runnable-track {
    background-color: #ff427b;
    border-radius: 0.5rem;
    height: 0.5rem;
}

button{
    color: #030E25;
    font-family: "Poppins",Helvetica,sans-serif;    
    background-color: #658FF1;
    border: 2px solid #8FB3FF;
    border-radius: 0px;
    padding: 13px 20px;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: ease-out 0.2s;    
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    width: 85%;
}

button:hover {
    border: 2px solid #D41D6D;
    transition: ease-out 0.2s;
    border-radius: 15px;
}

button.selected{
    border: 2px solid #D41D6D;
    border-radius: 15px;
}

.toggle{
    color: #030E25;
    font-family: "Poppins",Helvetica,sans-serif;   
    align-items: center; 
    display: flex;
    justify-content: center;
}

.grid-container{
    border: rgb(155, 155, 155) 1px solid;
    margin: 10px;
    display: grid;
    height: 97%;
    width: 100%;
}

.cell{
    user-select: none;
}

.cell.bordered{
    border: rgb(155, 155, 155) .5px solid;
}


.checkbox-rect input[type="checkbox"] {
    display: none;
}
.checkbox-rect input[type="checkbox"] + label {
    display: flex;
    gap: 1vh;

    margin-bottom: 20px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.checkbox-rect input[type="checkbox"]:hover + label:before {
    background: #D41D6D;
}
.checkbox-rect input[type="checkbox"] + label:last-child {
    margin-bottom: 0;
}
.checkbox-rect input[type="checkbox"] + label:before {
    content: "";
    display: flex;
    width: 1em;
    height: 1em;
    border: 1px solid #343a3f;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: all 0.2s, background 0.2s ease-in-out;
    background: #f3f3f3;
}
.checkbox-rect input[type="checkbox"]:checked + label:before {
    width: 1em;
    height: 1em;
    border-radius: 0.2em;
    border: 1px solid #000;
    background: #D41D6D;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}